
@media screen and (max-width: 1300px) {
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    grid-template-areas: "facu menu3" "facu idiomas";
    justify-items: center;
    .menu3 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 16px;
    }
    h1 {
      font-size: 2rem;
    }
    .menu4 {
      li {
        a {
          font-size: 16px;
        }
      }
    }
  }
  footer {
    img {
      height: 70px;
      width: 70px;
      object-fit: contain;
    }}
    main {
      .ro {
        margin: 3%;
        padding: 3%;
        p {
          font-size: 1.5rem;
        }
      }
      section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "exp1 exp2" "exp3 exp3";
        justify-items: center;
      }
      
    }
    .expe :hover {
      width: 230px;
      height: 230px;
      
      background-image: url(../imagenes/smg.png);
font-size: 18px;
      color: black;
    }
    .imagenesflex {
      .imagen {
        img {
          width: 150px;
          height: 150px;
          object-fit: contain;
        }
        .imaginar {
          opacity: 0.6;
          transition: all 0.5s;
        }

        .imaginar:hover {
          opacity: 1;
          transform: rotate(360deg);
          width: 200px;
          height: 200px;
          object-fit: contain;
        }
      }
    }
  }


@media screen and (max-width: 768px) {
  body{
    height: 100%;
  }
  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-items: center;
    grid-template-areas: "facu menu3 idiomas";
    justify-items: center;
    nav{
      img{display: grid;
      grid-area: menu3;}
    
    }
    nav:hover{
      .menu3{
        
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      animation-name: intro;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-iteration-count: 1;

  @keyframes intro {
    0% {
      height: 0%;
    }
    100% {
      height: 85%;

      
    }
  }
    }}
    h1 {
      font-size: 1.5rem;
    }
    .menu3 {
      display: none;
      flex-direction: column;
      font-size: 1rem;
      transition: all 0.5s;
    }
    .menu4 {
      font-size: 1rem;
    }
  }
  .imagenesflex {
    .imagen {
      img {
        width: 100px;
        height: 100px;
        object-fit: contain;
      }
      .imaginar {
        opacity: 0.6;
        transition: all 0.5s;
      }

      .imaginar:hover {
        opacity: 1;
        transform: rotate(360deg);
        width: 140px;
        height: 140px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  
  main {
    
    .ro {
      margin: 3%;

      p {
        font-size: 1rem;
      }
    }
    section {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "exp1" "exp2" "exp3";
      justify-items: center;
      .exp1 {
        width: 150px;
        height: 150px;
        font-size: 12px;
      }
    }
    section :hover {
      width: 200px;
      height: 200px;
      font-size: 16px;
      background-image: url(../imagenes/smg.png);

      color: black;
    }
  }
}

@media screen and (max-width: 768px) {
 
  main {
    
    .informacion {
      display: none;
    }
    .informacion2 {
      list-style: none;
      margin-bottom: 20px;
      text-align: left;
      display: inline-block;
      margin: 10px 30px;
    }

    h3 {
      font-size: 16px;
      text-align: center;
    }
  }
  .imagenesflex {
    .imagen {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .imaginar {
      height: 100px;
      width: 100px;
    }
  }
  footer {
    height: auto;
    font-family: "Montserrat", sans-serif;
    padding: 3% 0px;
    text-align: left;
    color: rgb(206, 204, 202);
    img {
      height: 40px;
      width: 40px;
      object-fit: contain;
    }
    .relleno{display: block;}
  }
}
